.metadata/
.vs/
AndroidProjects/
backend/
c++ program/
codewithharry/
CProgramming/
eth-resources/
git/
html/
javaprogramming/
LearnersAcadamy/
python/
QuizApp/
simpliLearn/
visual basics/
webdevelopment/